
<script src='${ $.env("root")+"app/templates/html/analytics.js" }'   type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/base.js" }'     	 type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/footer.js" }'      type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/header.js" }'      type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/links.js" }'     	 type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/meta.js" }'     	 type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/scripts.js" }'     type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/stylesheets.js" }' type="text/javascript" ></script>

<script src='${ $.env("root")+"app/templates/html/forms/artist.js" }'   type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/forms/event.js" }'    type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/forms/news.js" }' 	type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/forms/paypal.js" }'   type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/forms/pressing.js" }' type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/forms/release.js" }'  type="text/javascript" ></script>

<script src='${ $.env("root")+"app/templates/html/pages/artist.js" }'   type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/pages/artists.js" }'  type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/pages/contact.js" }'  type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/pages/error.js" }'    type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/pages/events.js" }'   type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/pages/home.js" }'     type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/pages/news.js" }'     type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/pages/release.js" }'  type="text/javascript" ></script>
<script src='${ $.env("root")+"app/templates/html/pages/releases.js" }' type="text/javascript" ></script>