{{ extend $.env("templates")+"html/base.tmpl?" }}

{{ block title }}
<title>Records of Existence Releases</title>
{{ /block }}
    
{{ block main }}
<div id='releases'>
    <h3>releases</h3>
    {{ if admin }}
    <div style='clear:both;text-align:center;'>
        <span  class="ss_sprite  ss_add">
            <a href='${ $.env("root")+"artists?admin" }'>
            Add release (via artist)
            </a>
        </span><br/>
        <a id='show_deleted'
           href='#show/deleted'>
           show deleted releases
        </a>
        <span> | </span>
        <a id='hide_deleted'
           href='#hide/deleted'>
           hide deleted releases
        </a>
    </div>
    {{ /if }} 
    
    <div class='first column span-7 colborder'>
        <ul>
            {{ each _(releases).every_third_from(0) }}
            <li>
                <div class='span-7  ${ this.deleted.length?"deleted":"" }'>
                    {{ if admin }}  
                    
                        <span class="ss_sprite  ss_comment_edit">
                            <a href='${ $.env("root") }release/${ this.$id }?admin'>
                                | edit release 
                            </a>
                            <br/>
                        </span>
                        
                        <span class= "ss_sprite  ss_delete">
                            <a href='${ $.env("root") }admin/${ (this.deleted.length?"restore":"remove" ) }/releases/${ this.$id }'>
                                 | ${ (this.deleted.length?"restore":"remove") } release 
                            </a>
                            <br>
                        </span>
                    {{ /if }}
                    <a href='${ $.env("root") }release/${ this.$id }'
                       style='float:left;'>
                       <img
                            src='${ $.env("data") + this.image }'
                            alt='${ this.name }' 
                            height='100px'
                        />
                        <br/>
                        <span class='quiet small'>release # ${ this.label_id }</span>
                    </a>
                    <strong>${ this.name }</strong>
                    <br/>
                    <span>${ this.description.substring(0,128) }...</span>
                </div>
            </li>
            {{ /each }}
        </ul>
    </div>
    <div class="column span-7 colborder">
        <ul>
            {{ each _(releases).every_third_from(1) }}
            <li>
                <div class='span-7  ${ this.deleted.length?"deleted":"" }'>
                    {{ if admin }}  
                    
                        <span class="ss_sprite  ss_comment_edit">
                            <a href='${ $.env("root") }release/${ this.$id }?admin'>
                                | edit release 
                            </a>
                            <br/>
                        </span>
                        
                        <span class= "ss_sprite  ss_delete">
                            <a href='${ $.env("root") }admin/${ (this.deleted.length?"restore":"remove" ) }/releases/${ this.$id }'>
                                 | ${ (this.deleted.length?"restore":"remove") } release 
                            </a>
                            <br/>
                        </span>
                    {{ /if }}
                    <a href='${ $.env("root") }release/${ this.$id }'
                       style='float:left;'>
                       <img
                            src='${ $.env("data") + this.image }'
                            alt='${ this.name }' 
                            height='100px'
                        />
                        <br/>
                        <span class='quiet small'>release # ${ this.label_id }</span>
                    </a>
                    <strong>${ this.name }</strong>
                    <br/>
                    <span>${ this.description.substring(0,128) }...</span>
                </div>
            </li>
            {{ /each }}
        </ul>
    </div>
    <div class='last column span-7'>
        <ul>
            {{ each _(releases).every_third_from(2) }}
            <li>
                <div class='span-7  ${ this.deleted.length?"deleted":"" }'>
                    {{ if admin }}  
                    
                        <span class="ss_sprite  ss_comment_edit">
                            <a href='${ $.env("root") }release/${ this.$id }?admin'>
                                | edit release 
                            </a>
                            <br/>
                        </span>
                        
                        <span class= "ss_sprite  ss_delete">
                            <a href='${ $.env("root") }admin/${ (this.deleted.length?"restore":"remove" ) }/releases/${ this.$id }'>
                                 | ${ (this.deleted.length?"restore":"remove") } release 
                            </a>
                            <br/>
                        </span>
                    {{ /if }}
                    <a href='${ $.env("root") }release/${ this.$id }'
                       style='float:left;'>
                       <img
                            src='${ $.env("data") + this.image }'
                            alt='${ this.name }' 
                            height='100px'
                        />
                        <br/>
                        <span class='quiet small'>release # ${ this.label_id }</span>
                    </a>
                    <strong>${ this.name }</strong>
                    <br/>
                    <span>${ this.description.substring(0,128) }...</span>
                </div>
            </li>
            {{ /each }}
        </ul>
    </div>
</div>
{{ /block }}
