
<form id='editArtist' 
    method='post' 
    action='${ $.env("root")+"admin/save/artists/"+artist.$id }'>
    
        <div class='first column span-7 prepend-2 colborder'>
            <span class="ss_sprite  ss_comment_add">
              edit artist name  
            </span>
            <h4>
                <input 
                    id='name' 
                    type='text' 
                    name='name'
                    value='${ artist.name }'
                />
            </h4>
            <span  class="ss_sprite  ss_image_add">
                edit artist id |
            </span>
            <br/>
            <input 
                id=    '$id'
                type=  'text' 
                name=  '$id'
                value= '${ artist.$id }'
            />
            <br/>
            <br/>
            <span class="ss_sprite  ss_image_add">
              edit artist image 
            </span>
            <br/>
            <input
                id='image' 
                type='text'
                name='image'
                value='${ artist.image }'
            />
            <img src='${ $.env("data")+artist.image }' 
                 alt='${ artist.image }'  
                 height='150px'/>
            <strong>releases</strong>
            <ul>
                {{ each releases }}
                <li>
                    <span class="ss_sprite  ss_delete">
                        <a href='${ $.env("root")+"admin/remove/releases/"+this.$id }'>
                             remove this release 
                        </a> | 
                    </span>
                    <span class="ss_sprite  ss_comment_add">
                        <a href='${ $.env("root")+"release/"+this.$id+"?admin" }'>
                             edit this release 
                        </a> 
                    </span>
                    <br/>
                    ${ this.name }
                </li>
                <li>
                     <a href='${ $.env("root")+"admin/add/releases/?artist="+artist.$id }'></a>
                         <span class="ss_sprite  ss_add">
                             Add Release
                         </span>
                     </a>
                 </li>
                 {{ /each }}
            </ul>
        </div>
        <div class=' last column span-12'>
            <span class="ss_sprite  ss_comment_add">
                  edit artist description  
            </span>
            <textarea id='description'
                name='description'
            >${ artist.description+"" }</textarea>
            <input
                type='submit' 
                value='save' 
                class='submit'
            />
        </div>    
</form>